body {
    margin: 0;
    padding: 0;
    background-image: url('../images/Background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	min-width: 100vw;
    min-height: 100vh;
}

.Navigation-Menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /*Spaces out the menu navigation items */
    background-color: #6F4E37;
    padding: 5px; /* Slight padding centers the logo and menu links nicely */
}

.logo {
    text-decoration: none; /* It gets rid of the underlined text. Don't know why it has to be here and not .logo-text */
}

.logo img {
	height: 40px;
    width: 40px;
    border-radius: 50%; /* border-radius makes the corners rounded, 50% makes logo round. Looks better as a logo when round */
	margin-right: 8px; /* Makes the text slightly to the right of the logo, looks better */
}

.Business-Name {
    font-size: 30px;
	color: #ECB176;
	text-align: center;
}

.Navigation-Menu-Links {
    display: flex;
    gap: 20px;
}

.Navigation-Menu-Links a {
	font-size: 25px;
    color: #ECB176;
    text-decoration: none; /* It gets rid of the underlined text. */
    padding: 10px 10px; /* Padding makes the hover effect bigger which looks better to me */
    border-radius: 10px; /* Makes the logo round, looks better to me */
    transition: background-color 0.2s linear;
}

.Navigation-Menu-Links a:hover {
    background-color: #9c653d; /* Slightly lighter background on hover */
}

.contact-section {
    max-width: 800px; /* Prevents from covering entire screen */
    margin: 100px auto; /* Centers box */
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px; /* Rounds corners */
    padding: 20px; /* Gives a little space between background box and input fields */ 
    color: white;	/* Text color white */
    text-align: center;
}

.contact-section h1 { /* Contact us text */
    font-size: 36px;
    margin-bottom: 10px;
    color: #ECB176;
}

.contact-section p { /* Text below "Contact us" */
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-form {
    display: flex; /* This line and line below makes the fields a column */
    flex-direction: column;
    gap: 15px; /* Gives a little space between each field, looks better */
}

.contact-form label {
    font-size: 16px;
    text-align: left;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    font-size: 16px;
}

.submit-button {
    padding: 10px 20px; /* Bigger button */
    background-color: #ECB176;
    font-size: 18px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.submit-button:hover {
    background-color: #9c653d;
    color: white;
}

/* Transition effects from here to fade-out */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#page-content {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}