body {
    margin: 0;
    padding: 0;
    background-image: url('../images/Background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	min-width: 100vw;
    min-height: 100vh;
}

.Navigation-Menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /*Spaces out the menu navigation items */
    background-color: #6F4E37;
    padding: 5px; /* Slight padding centers the logo and menu links nicely */
}

.logo {
    text-decoration: none; /* It gets rid of the underlined text. Don't know why it has to be here and not .logo-text */
}

.logo img {
	height: 40px;
    width: 40px;
    border-radius: 50%; /* border-radius makes the corners rounded, 50% makes logo round. Looks better as a logo when round */
	margin-right: 8px; /* Makes the text slightly to the right of the logo, looks better */
}

.Business-Name {
    font-size: 30px;
	color: #ECB176;
	text-align: center;
}

.Navigation-Menu-Links {
    display: flex;
    gap: 20px;
}

.Navigation-Menu-Links a {
	font-size: 25px;
    color: #ECB176;
    text-decoration: none; /* It gets rid of the underlined text. */
    padding: 10px 10px; /* Padding makes the hover effect bigger which looks better to me */
    border-radius: 10px; /* Makes the logo round, looks better to me */
    transition: background-color 0.2s linear;
}

.Navigation-Menu-Links a:hover {
    background-color: #9c653d; /* Slightly lighter background on hover */
}

.description {
    max-width: 1000px;
    padding: 20px; /* Same as navigation menu, padding makes the box size slightly bigger, looks better to me. */
    background-color: rgba(0, 0, 0, 0.6); /* This gives background some transparency.*/
    border-radius: 10px; /* This rounds the description backgrounds corners, looks better to me */
    font-size: 22px;
	color: white;
    margin: 80px auto;
    text-align: center;
}

.barista {
    max-width: 80%; /* This makes the image slightly smaller, then normal size when hovering */
    border-radius: 10px; /* Slightly rounds the box corners */
	margin-top: 20px; /*Image overlaps with text without margin */
	transition: transform 0.2s  linear;
}

.barista:hover {
    transform: scale(1.1); /* Enlarge the image on hover */
}
/* Transition effects from here to fade-out */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#page-content {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}