body {
    margin: 0;
    padding: 0;
    background-image: url('../images/Background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	min-width: 100vw;
    min-height: 100vh;
}

.Navigation-Menu {
    display: flex;
    align-items: center;
    justify-content: space-between; /*Spaces out the menu navigation items */
    background-color: #6F4E37;
    padding: 5px; /* Slight padding centers the logo and menu links nicely */
}

.logo {
    text-decoration: none; /* It gets rid of the underlined text. Don't know why it has to be here and not .logo-text */
}

.logo img {
	height: 40px;
    width: 40px;
    border-radius: 50%; /* border-radius makes the corners rounded, 50% makes logo round. Looks better as a logo when round */
	margin-right: 8px; /* Makes the text slightly to the right of the logo, looks better */
}

.Business-Name {
    font-size: 30px;
	color: #ECB176;
	text-align: center;
}

.Navigation-Menu-Links {
    display: flex;
    gap: 20px;
}

.Navigation-Menu-Links a {
	font-size: 25px;
    color: #ECB176;
    text-decoration: none; /* It gets rid of the underlined text. */
    padding: 10px 10px; /* Padding makes the hover effect bigger which looks better to me */
    border-radius: 10px; /* Makes the logo round, looks better to me */
    transition: background-color 0.2s linear;
}

.Navigation-Menu-Links a:hover {
    background-color: #9c653d; /* Slightly lighter background on hover */
}

.Items {
    max-width: 800px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.6); /* This gives background some transparency.*/
    border-radius: 10px;	/* Slightly rounds the box corners */
    font-size: 24px;
    line-height: 1.6;
    margin: 100px auto; /* Centers the entire description box */
    text-align: center;
}

.Items h1 {
    font-size: 40px;
    margin-bottom: 10px; /* Gives a slight bottom spaing to make description spaced out for looks */
    color: orange;
}

.Items p {
    margin-bottom: 20px; /* Spaces the bottom of the paragraphs, makes it look better and sets up for image expansion later */
	color: white;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Gives a background when hovering, increasing visibility and apparentness that item is expandable */
}

.menu-item h2 {
    font-size: 36px;
    color: orange;
    margin: 5px; /* Slight spacing between menu items, looks better */
    display: flex;
    justify-content: space-between; /* Adds space between Espresso and +, makes list look expandable */
}

.Item-Descriptions {
    overflow: hidden; /* Makes menu items easy to click, without, it has a weird hover issue */
    max-height: 0; /* Makes height of box 0, without, the height of the box matches entire description when expanded */
    transition: max-height 0.2s linear, opacity 0.2s linear; /* Gives a nice little animation when expanding or minimizing the box */
}

.Item-Descriptions.expanded {
	max-height: 700px; /* Makes entire expandable menu work, allows for menu to expand */
}

.Item-Descriptions img {
    width: 70%;	/* Makes image smaller to setup hover to make it bigger */	
	max-width:430px;	/* Capping height and width makes the picture fit within the box, im sure theres a better way to do this */
	max-height:380px;
    border-radius: 10px;	/* Rounds the image */
    transition: transform 0.2s linear;	/* Same transition when making theimage bigger on hover */
}

.Item-Descriptions img:hover {
    transform: scale(1.05);	/* Actually makes the image bigger on hover */
}

/* Transition effects from here to fade-out */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#page-content {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}
